<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated targetEnvironment -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="targetEnvironment.presentation.TargetEnvironmentModelWizardID"
            name="%_UI_TargetEnvironmentModelWizard_label"
            class="targetEnvironment.presentation.TargetEnvironmentModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/TargetEnvironmentModelFile.gif">
         <description>%_UI_TargetEnvironmentModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated targetEnvironment -->
      <editor
            id="targetEnvironment.presentation.TargetEnvironmentEditorID"
            name="%_UI_TargetEnvironmentEditor_label"
            icon="icons/full/obj16/TargetEnvironmentModelFile.gif"
            extensions="targetenvironment"
            class="targetEnvironment.presentation.TargetEnvironmentEditor"
            contributorClass="targetEnvironment.presentation.TargetEnvironmentActionBarContributor">
      </editor>
   </extension>

   <extension point="org.eclipse.ui.newWizards">
      <!-- @generated device -->
      <category
            id="org.eclipse.emf.ecore.Wizard.category.ID"
            name="%_UI_Wizard_category"/>
      <wizard
            id="device.presentation.DeviceModelWizardID"
            name="%_UI_DeviceModelWizard_label"
            class="device.presentation.DeviceModelWizard"
            category="org.eclipse.emf.ecore.Wizard.category.ID"
            icon="icons/full/obj16/DeviceModelFile.gif">
         <description>%_UI_DeviceModelWizard_description</description>
         <selection class="org.eclipse.core.resources.IResource"/>
      </wizard>
   </extension>

   <extension point="org.eclipse.ui.editors">
      <!-- @generated device -->
      <editor
            id="device.presentation.DeviceEditorID"
            name="%_UI_DeviceEditor_label"
            icon="icons/full/obj16/DeviceModelFile.gif"
            extensions="device"
            class="device.presentation.DeviceEditor"
            contributorClass="device.presentation.DeviceActionBarContributor">
      </editor>
   </extension>
</plugin>
