<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.0"?>

<!--
-->

<plugin>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated targetEnvironment -->
      <package
            uri="http://www.ipa.fraunhofer.de/TargetEnvironment"
            class="targetEnvironment.TargetEnvironmentPackage"
            genModel="model/targetEnvironment.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated device -->
      <package
            uri="http://www.ipa.fraunhofer.de/Device"
            class="device.DevicePackage"
            genModel="model/device.genmodel"/>
   </extension>

   <extension point="org.eclipse.emf.ecore.generated_package">
      <!-- @generated device -->
      <package
            uri="http://www.ipa.fraunhofer.de/Base"
            class="base.BasePackage"
            genModel="model/device.genmodel"/>
   </extension>

</plugin>
