<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension
         point="org.eclipse.ui.perspectives">
      <perspective
            class="de.fraunhofer.ipa.deployment.plugin.ResourceManagerPerspectiveFactory"
            icon="icons/plugin_icon.png"
            id="de.fraunhofer.ipa.deployment.plugin.perspective"
            name="ROS Deployment">
      </perspective>
   </extension>


</plugin>
